@charset "utf-8";
/* CSS Document */


*{margin:0;}
body, html{
	font-family:'Quicksand',arial, sans-serif;
	font-size:28px;
	height:100%;	
}
#main-content h2{
	padding-bottom:10px;
	text-decoration:underline;	
}
a {
	text-decoration:none;
	font-weight:700;	
}
a:hover {text-decoration:underline;}

#wrapper{
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -50px;	
}
#header{
	background:#06406c;
	padding:40px 0;
}
#header H2{
	font-family: 'Chelsea Market', sans-serif;
	font-size:50px;
	text-align:center;
	color:#fff;
}
p {
	margin-bottom:15px;	
}
.explain{
	clear:both;
	padding-top:20px;	
}
.push {height:50px; clear:both;}
#footer{
	font-size:16px;
	text-align:center;
	background:#001621;
	color:#fff;
	height:50px;
	line-height:50px;
	width:100%;	
}
#main-content{
	max-width:960px;
	margin:0 auto;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;	
}
#menu-wrapper {
	width:100%;
	clear:both;
	background:#08538c;
	display:table;	
}
#menu {
	width:960px;
	margin:0 auto;
	background:#08538c;
	display:table;
	color:#fff;	
}
#menu ul li {
	float:left;
	list-style:none;
	text-align:center;
	padding:10px 20px;	
}
#menu ul li:hover {background:#999; }
#scrollp p {
	padding: 40px 0;	
}
.fixedmenu {position: fixed; top:0;  }

